<ion-content>
    <ion-button color="primary" class="custom-button" (click)="set()">{{'homePage.testKey'|translate}}</ion-button>
    <ion-button color="secondary" class="custom-button" (click)="get()">{{'homePage.testKey1'|translate}}</ion-button>
    <ion-button color="success" class="custom-button" (click)="remove()">{{'homePage.testKey2'|translate}}</ion-button>
    <ion-button color="success" class="custom-button" (click)="clear()">{{'homePage.testKey3'|translate}}</ion-button>
    <ion-button color="success" class="custom-button" (click)="setLangule()">{{'homePage.testKey4'|translate}}</ion-button>
</ion-content>